.player {
  z-index: 2;
  height: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.wrapper1 {
  position: absolute;
  top: -0.5%;
  left: 330%;
  border: 1px solid transparent;
  width: 190px;
  height: 340px;
  padding: 30px;
  border-radius: 15px;
  background-color: #ddd;
  background-color: #202020;
  box-shadow: rgb(0, 123, 255) 0px 20px 30px -10px;}


.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.track-art {
  position: absolute;
  top: 1%;
  margin: 25px;
  width: 150px;
  height: 150px;
  border: 2px solid #FFFAFA;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}

.now-playing {
  font-size: 1rem;
  position: absolute;
  top: 2%;
  left: 20%;
}

.track-name {
  font-size: 1rem;
  position: absolute;
  top: 46.5%;
  left: 35%;
  padding-right: 1px;
}

.track-artist {
  margin-top: 10px;
  font-size: 1.5rem;
  padding: 5px;
  position: absolute;
  top: 48%;
  left: 30%;

}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  left: -25%;
  top: 53%;
}

.active {
  color: black;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
  padding: 20px;
  opacity: 0.8;
  transition: opacity .2s;
  font-size: 8px;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 58%;
}

.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #83A9FF;
  border-radius: 10px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774FF;
  cursor: grab;
  border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 300%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 5px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
  
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
  cursor: pointer;
}

.randomActive {
  color: black;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.loader {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40%;

}

.loader .stroke {
  background: #f1f1f1;
  height: 150%;
  width: 10px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.4s linear infinite;
}

@keyframes animate {
  50% {
    height: 20%;
    background: #4286f4;
  }

  100% {
    background: #4286f4;
    height: 100%;
  }
}

.stroke:nth-child(1) {
  animation-delay: 0s;
}

.stroke:nth-child(2) {
  animation-delay: 0.3s;
}

.stroke:nth-child(3) {
  animation-delay: 0.6s;
}

.stroke:nth-child(4) {
  animation-delay: 0.9s;
}

.stroke:nth-child(5) {
  animation-delay: 0.6s;
}

.stroke:nth-child(6) {
  animation-delay: 0.3s;
}

.stroke:nth-child(7) {
  animation-delay: 0s;
}